@page "/products/name/{productName}"
@using ECommerce.Frontend.Services
@using ECommerce.Shared.Dtos
@inject ProductService ProductService
@inject CartService CartService
@code {
    [Parameter]
    public string ProductName { get; set; }
    private ProductDto product;

    protected override async Task OnInitializedAsync()
    {
        product = await ProductService.GetProductByNameAsync(ProductName);
    }
}

@if (product == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <h4>@product.Name</h4>
        <p>Price: @product.Price.ToString("C")</p>
        <p>Category: @product.ProductCategory</p>
        <p>Description: @product.ProductDescription</p>
        <p>Quantity available: @product.Quantity</p>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => CartService.AddToCart(product)">
            Add to Cart
        </MudButton>

    </div>
}
